/.web-server-pid
/app/config/parameters.yml
/build/
# PHPUnit
/app/phpunit.xml
/phpunit.xml
#j Cache and Logs
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
# Composer PHAR
/composer.phar
# Custom script
/dbreset.sh