{% extends ':frontend:base.html.twig' %}

{% block body %}
    <div class="ui stackable two column vertically divided grid basic segment container">
        <div class="row">
            <div class="seven wide column">
                <h3 class="ui dividing header">Reserva {{ day }}/{{ month }}/{{ year }}</h3>
                {{ form(bookingForm) }}
            </div>
        </div>
    </div>
{% endblock %}
