{% extends ':frontend:base.html.twig' %}

{% block body %}

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">

                <div class="four wide column">
                    <div class="six wide right floated column">
                        <img src="https://semantic-ui.com/examples/assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="six wide right floated column">
                        <img src="https://semantic-ui.com/examples/assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
                    </div>
                </div>

                <div class="four wide column">
                    <div class="six wide right floated column">
                        <img src="https://semantic-ui.com/examples/assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="twelve wide column">
                    <h3 class="ui header">#{{ main_brand_title }}</h3>
                    <p>Reserva una nit a la Torre de la carrova. Un emplaçament que efímerant proposa una experiència personal que és també part d'una peça artística.</p>
                    <p>Podeu reservar una nit per a dues persones per a dormir, o visitar la torre, per veure les estrelles o per a concebir.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="five wide column">
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th colspan="7">Juliol 2017</th>
                            </tr>
                            <tr>
                                <th>Dl.</th>
                                <th>Dt.</th>
                                <th>Dc.</th>
                                <th>Dj.</th>
                                <th>Dv.</th>
                                <th>Ds.</th>
                                <th>Dg.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>31</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="twelve wide column">
                    <p>Sel·lecciona el dia us faria il·lusió dominar a la torre de la Corrava i seguiu les instruccions del formulari.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
